

.mabout-us-container {
  width: 80%;
  margin: auto;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  background-color: #000000;

  overflow-x: hidden;
}

.mabout-us-title {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f95107;
}

.msection1 {
  margin: auto;
  margin-bottom: 40px;
  width: 90%;
}

.msection2 {
  margin: auto;
  width: 90%;
}

.msection-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}

.msection-content {
  font-size: 20px;
  line-height: 1.6;
  color: #ffffff;
  font-weight: 300;
}

.msection-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.msection-image {
  width: 100%;
  border-radius: 8px;
}


@media (max-width: 768px) {
  .mabout-us-container {
    padding: 20px 5%;
  }

  .msection-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .msection-image {
    margin-top: 20px;
    width: 100%;
  }
}


.mmun25-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
  background-color: rgba(73, 71, 71, 0.219);
  padding: 20px;
  box-sizing: border-box;
}


.mmun25-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  width: 80%;

  border-radius: 8px;
  padding: 20px;
}


.mmun25-logo {
  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  width: 60%;
}


.mmun25-details {
  display: flex;
  flex-direction: column;
  width: 90%;
}


.mmun25-title {
  font-size: max(20px,3.5vw);
  font-weight: 925;
  color: #ff6700;
}

.mmun25-date {
  font-size: 18px;
  font-weight: 900;
  translate: 0.1rem -1rem;
  color: #ffffff;
  margin-bottom: 2vw;
}

.mmun25-agenda-title {
    font-size: 32px;
    font-weight: 950;
    margin-bottom: 10px;
    color: #ffffff;
}

.mmun25-agenda-list {
  list-style-type: decimal;
  padding: 20px;
  translate:0 -0.5rem;
}

.mmun25-agenda-list li {
    list-style: decimal;
    font-size: 14px;
    margin-bottom: 10px;
    color: #ffffff;
}


.mregister-button {
 
  padding: max(3vw,15px) max(6vw,30px);
  background-color: #ff6700;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 45%;
}

.mregister-button:hover {
  background-color: #ff4500;
}


@media (max-width: 768px) {
  .mmun25-content {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .mmun25-logo img {
    max-width: 80%;
    margin: 0 auto;
  }

  .mmun25-details {
    align-items: center;
  }
}
